@import 'variables';

body {
    font-family: 'Raleway', sans-serif;
    color: @text-color;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    width: 100%;
    min-height: 10rem;
    height: 50vh;

    background: @primary-block-color;
    padding: 0.5rem;
    h3 {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: 2rem;
    }
}

.block:nth-child(even) {
    background-color: @primary-block-color;
}

.block:nth-child(odd) {
    background-color: @secondary-block-color;
}
