@import 'variables';

.subsection > .title {
    display: flex;
    justify-content: space-between;

    > .title-group {
        display: table;
        vertical-align: center;

        > h2 {
            margin: 0 auto;
            text-transform: uppercase;
            text-align: left;
            display: table-cell;
            flex-shrink: 1;
        }

        > a {
            display: table-cell;
            vertical-align: middle !important;
            padding: 0 0.1em;
        }
    }

    > .status {
        display: inline-flex;
        font-size: @sm-font;
        font-style: italic;
    }

}

.subsection > .details {
    display: flex;
    justify-content: space-between;
    font-size: @xsm-font;;

    > * {
        display: inline-flex;
        flex-shrink: 1;
    }

    > div:nth-of-type(1) {
        display: inline-flex;

    }
}

.subsection {
    > .subsection-tags {
        display: block;
        text-align: left;
        color: lighten(@text-color, 20%);
        font-weight: 600;
        font-size: @xsm-font;

        > div:nth-of-type(1) {
            padding: 0 0.25rem 0 0;
        }

        > div {
            display: inline-block;
            padding: 0 0.25rem;
        }
    }
}

@media @smartphones {
    .subsection p {
        text-indent: 0;
    }

    .subsection ul {
        padding: 0;
    }
}

@media @desktops {
    .experience-blockquote {
        padding-left: 40px;
    }

    .subsection .details {
        font-size: @sm-font;
    }
}

.subsection + .subsection {
    margin: 2rem 0;
}

