{% extends 'greeter/base.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load markup %}

{% block content %}
<!-- Header -->
{% include "greeter/header_subpage.html" %}

<section class="row padded-container">
  <div class="col-lg-12 text-left">
    <h2>{{ title }}</h2>
  </div>
  <div class="col-lg-8 text-left class-content">
    {% autoescape off %}
      {{ content|textile }}
    {% endautoescape %}
  </div>
  <div class="col-lg-4 reference-section">
  <h3>Reference</h3>
    <div class="short-border"></div>
    <h4>Course</h4>
    <ul class="reference">
      <li><a href="https://sites.google.com/a/mst.edu/price/courses/cs-5201">Website</a></li>
      <li><a href="/5201/tips">Assignment Tips</a></li>
      <li><a href="/5201/git">Git</a></li>
      <li><a href="https://git.mst.edu/">S&amp;T GitLab</a></li>
    </ul>
    <h4>C++</h4>
    <ul class="reference">
      <li><a href="http://web.mst.edu/~cpp/cpp_coding_standard_v1_1.pdf">Coding Standard</a></li>
      <li><a href="http://web.mst.edu/~nmjxv3/articles/templates.html">Template Classes and Friends</a></li>
    </ul>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- jQuery Version 1.11.0 -->
<script src="{% static "greeter/js/jquery-1.11.0.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "greeter/js/bootstrap.min.js" %}"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "greeter/js/classie.js" %}"></script>
<script src="{% static "greeter/js/cbpAnimatedHeader.js" %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static "greeter/js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "greeter/js/contact_me.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "greeter/js/freelancer.js" %}"></script>
{% endblock %}
